/* -------------------------------------------------------------------------- */
/* Root Variables and Global Styles                                           */
/* -------------------------------------------------------------------------- */

:root {
  --primary: #6200ee;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100vh;
  margin: 0;
}

/* Remove spinner buttons from number input */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* -------------------------------------------------------------------------- */
/* Top App Bar                                                                */
/* -------------------------------------------------------------------------- */

.top-app-bar {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 0.75rem;
}

.top-app-bar__section {
  align-items: center;
  display: inline-flex;
}

.top-app-bar__input--title {
  background-color: inherit;

  border: none;
  border-bottom: 1px solid;

  color: #fff;
  margin-right: 0.5rem;
  text-align: right;
  width: 6ch;
}

.top-app-bar__input--title:focus {
  border-bottom-width: 2px;
  outline: none;
}

.top-app-bar__title,
.top-app-bar__input--title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .0125em;
  line-height: 2rem;
}

.top-app-bar__title {
  margin: 0;
}

.image-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 1rem 0.75rem;
  transition: background-color 0.2s ease-in-out;
}

.image-button:focus-visible {
  outline-offset: -4px;
  outline: 2px solid #fff;
}

.image-button img {
  height: 24px;
  width: 24px;
}

.image-button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.image-button:active {
  background-color: rgba(0, 0, 0, 0.16);
}

/* -------------------------------------------------------------------------- */
/* Main Content Area                                                          */
/* -------------------------------------------------------------------------- */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 1rem;
}

.editor-textarea {
  flex-grow: 1;
  resize: none;
  width: 100%;
}

.editor-textarea:focus {
  outline-color: var(--primary);
}

.editor-counter {
  color: var(--primary);
  text-align: right;
}

/* -------------------------------------------------------------------------- */
/* Media Queries for Responsive Design                                        */
/* -------------------------------------------------------------------------- */

@media (min-width: 400px) {
  .top-app-bar {
    padding: 0 1rem;
  }

  .image-button {
    padding: 1rem;
  }

  .main {
    padding: 2rem;
  }
}